################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/docs/node_modules
/dist
/docs/package-lock.json
